.orders-main-cntr{
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.orders-pg-header{
    display: flex;
    padding: 5px 0px;
}
.orders-pg-header span{

    font-size: 28px;
}

.orders-table-header{
    display: flex;
    padding: 5px 0px;
    width: 100%;

}

.orders-table-title{
    font-size: 18px;
    font-weight: 600;
    margin-right: 10px;
    width: 191px;
    padding: 0px 15px;

}

.order-table-rows-cntr{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 10px 0px;
    margin-bottom: 10px;
}

.product-table-rows-cntr{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 10px 0px;
   
}

.order-table-rows{
    display: flex;
    position: relative;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
    height: 50px;
    background: #ffffff;
    border-radius: 10px;
    transition: all 0.1 ease-out;
  
}

.product-table-rows{
    display: flex;
    position: relative;
    align-items: center;

    width: 100%;
    height: 50px;
    background: #ffffff;
    border-radius: 10px;
    transition: all 0.1 ease-out;
  
}

.order-table-rows:hover{
    background-color: rgb(233, 231, 231);
}

.order-table-row{
    width: 191px;
    padding: 0px 15px;
    margin-right: 10px;
}

.order-table-row-btn{
    position: absolute;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    right: 50px;
}

.order-table-row-btn-static{
    position: absolute;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    right: 15px;
   
}

.order-table-row-deflt-btn{
  position: absolute;
  height: 30px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  opacity: 0;
  font-weight: 500;
  right: 30px;
}

.order-table-rows:hover .order-table-row-btn-static{
  
    transition: all 0.3s ease-in-out;
}




.order-table-rows:hover .order-table-row-btn{
    opacity: 1;
    transition: all 0.3s ease-in-out;
}

.order-table-rows:hover .order-table-row-deflt-btn{
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

.visible-btn{
  opacity: 1;
}

.order-table-row-btn-static:hover{
  
    cursor: pointer;
    background-color: rgba(128, 128, 128, 0.635);
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
}


.order-table-row-btn:hover{
  
    cursor: pointer;
    background-color: #e94560;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
}

.order-pg-pagation{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.rotating-text {
    font-size: 18px;
    font-weight: 600;
    color: #e94560;
    animation: rotating 2s ease-in-out infinite;
  }
  
  @keyframes rotating {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  } 

  .order-tbl-ar-icon:hover{
    filter:brightness(0) invert(1);

  }

  .invert-img-1,.invert-img-2,.invert-img-3,.invert-img-4{
    animation: invert-img 1s ease-in-out forwards;
    transition: all 0.3s ease-in-out;
  }

    .invert-img-1 {
        animation-delay: .5s;
        
    }
    .invert-img-2 {
        animation-delay: 2.5s;
    }
    .invert-img-3 {
        animation-delay: 4.5s;
    }
    .invert-img-4 {
        animation-delay: 6.5s;
    }

    @keyframes invert-img {
        0% {
            filter:brightness(0) invert(1);
        }
        100% {
            filter:brightness(0) invert(1);
        }
    }

  

  .stage-pending{
    background-color: rgb(226 232 240 / var(--tw-bg-opacity));

  }


  .stage-completed{
    background: linear-gradient(to right, #e94560 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: right;
    animation: fillAnimation 1s ease-in-out forwards;
  }

  .stage-completed:nth-child(1) {
    animation-delay: 0s; /* Delay for the first stage */
  }
  
  .stage-completed:nth-child(2) {
    animation-delay: 1s; /* Delay for the second stage */
  }
  
  .stage-completed:nth-child(3) {
    animation-delay: 2s; /* Delay for the third stage */
  }
  .stage-completed:nth-child(4) {
    animation-delay: 3s; /* Delay for the third stage */
  }
  .stage-completed:nth-child(5) {
    animation-delay: 4s; /* Delay for the third stage */
  }
  .stage-completed:nth-child(6) {
    animation-delay: 5s; /* Delay for the third stage */
  }
  .stage-completed:nth-child(7) {
    animation-delay: 6s; /* Delay for the third stage */
  }
  
  @keyframes fillAnimation {
    0% {
      background-position: right;
    }
    100% {
      background-position: left;
    }
  }


  .completed-delay-1,.completed-delay-2,.completed-delay-3,.completed-delay-4 {
    opacity: 0;
    animation: completed-loading 1s ease-in-out forwards;
  }
  
  .completed-delay-1 {
    animation-delay: 1s;
  }
  
  .completed-delay-2 {
    animation-delay: 3s;
  }
  
  .completed-delay-3 {
    animation-delay: 5s;
  }
  
  .completed-delay-4{
    animation-delay: 7s;
  }
  
  @keyframes completed-loading {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .order-product-cntr{
    max-height: 700px;
    
  }
  



