.product-pg-cntr{
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    padding-bottom: 20px;
    padding-top: 20px;
}

.products-pg-bd-cntr{
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1220px;
}
