.search-results-sub-cntr{
  /* min-height: 60vh;
  height: auto; */
  
    
}

.search-result-cards:hover{
 
  transition: 0.3s;
  transform: scale(1.2);
  transform: translateY(-15px) ;
  z-index: 1;

}